# Google services
GOOGLE_PROJECT_ID=placeholder

GOOGLE_CLOUD_VISION_API_CREDENTIALS=placeholder
GOOGLE_CLOUD_VISION_API_ENDPOINT=placeholder

GEMINI_API_CREDENTIALS=placeholder
GEMINI_API_LOCATION=placeholder
GEMINI_MODEL=placeholder

# Ollama model
OLLAMA_LOCAL_MODEL=placeholder